#menu-container {
  position: absolute;
  top: 0px;
  left: 0px;
}

.button {
  font-size: 12px;
  border-radius: 2px;
  border: 0px;
  margin: 0px 2px;
  height: 30px;
}

.menu {
  padding: 5px;
  background-color: #e8e8e8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 500px;
}

.sub-menu {
  padding: 5px;
  display: flex;
}

input[type="color"] {
  height: 50px;
  width: 50px;
  padding: 0;
  border: 4px solid rgba(128, 128, 128, 0.3);
}